elrastro_project/elrastro_project/__pycache__/__init__.cpython-311.pyc
elrastro_project/elrastro_project/__pycache__/settings.cpython-311.pyc
elrastro_project/elrastro_project/__pycache__/urls.cpython-311.pyc
elrastro_project/elrastro_project/__pycache__/wsgi.cpython-311.pyc
elrastro_project/elrastroapp/__pycache__/__init__.cpython-311.pyc
elrastro_project/elrastroapp/__pycache__/admin.cpython-311.pyc
elrastro_project/elrastroapp/__pycache__/apps.cpython-311.pyc
elrastro_project/elrastroapp/__pycache__/models.cpython-311.pyc
elrastro_project/elrastroapp/__pycache__/serializers.cpython-311.pyc
elrastro_project/elrastroapp/__pycache__/urls.cpython-311.pyc
elrastro_project/elrastroapp/__pycache__/views.cpython-311.pyc
elrastro_project/elrastroapp/migrations/__pycache__/__init__.cpython-311.pyc
elrastro_project/elrastroapp/migrations/__pycache__/0001_initial.cpython-311.pyc
elrastro_project/elrastroapp/migrations/__pycache__/0002_remove_producto_id_producto__id.cpython-311.pyc
elrastro_project/elrastroapp/migrations/__pycache__/0003_rename__id_producto_id.cpython-311.pyc
elrastro_project/elrastroapp/migrations/__pycache__/0004_alter_producto_id.cpython-311.pyc
usuarios/usuarios/__pycache__/__init__.cpython-311.pyc
usuarios/usuarios/__pycache__/settings.cpython-311.pyc
usuarios/usuarios/__pycache__/urls.cpython-311.pyc
usuarios/usuarios/__pycache__/wsgi.cpython-311.pyc
usuarios/usuariosapp/__pycache__/__init__.cpython-311.pyc
usuarios/usuariosapp/__pycache__/admin.cpython-311.pyc
usuarios/usuariosapp/__pycache__/apps.cpython-311.pyc
usuarios/usuariosapp/__pycache__/models.cpython-311.pyc
usuarios/usuariosapp/__pycache__/serializers.cpython-311.pyc
usuarios/usuariosapp/__pycache__/urls.cpython-311.pyc
usuarios/usuariosapp/__pycache__/views.cpython-311.pyc
usuarios/usuariosapp/migrations/__pycache__/__init__.cpython-311.pyc
productos/productos/__pycache__/__init__.cpython-311.pyc
productos/productos/__pycache__/settings.cpython-311.pyc
productos/productos/__pycache__/urls.cpython-311.pyc
productos/productos/__pycache__/wsgi.cpython-311.pyc
productos/productosapp/__pycache__/__init__.cpython-311.pyc
productos/productosapp/__pycache__/admin.cpython-311.pyc
productos/productosapp/__pycache__/apps.cpython-311.pyc
productos/productosapp/__pycache__/models.cpython-311.pyc
productos/productosapp/__pycache__/serializers.cpython-311.pyc
productos/productosapp/__pycache__/urls.cpython-311.pyc
productos/productosapp/__pycache__/views.cpython-311.pyc
productos/productosapp/migrations/__pycache__/__init__.cpython-311.pyc
pujas/pujas/__pycache__/__init__.cpython-311.pyc
pujas/pujas/__pycache__/settings.cpython-311.pyc
pujas/pujas/__pycache__/urls.cpython-311.pyc
pujas/pujas/__pycache__/wsgi.cpython-311.pyc
pujas/pujasapp/__pycache__/__init__.cpython-311.pyc
pujas/pujasapp/__pycache__/admin.cpython-311.pyc
pujas/pujasapp/__pycache__/apps.cpython-311.pyc
pujas/pujasapp/__pycache__/models.cpython-311.pyc
pujas/pujasapp/__pycache__/serializers.cpython-311.pyc
pujas/pujasapp/__pycache__/urls.cpython-311.pyc
pujas/pujasapp/__pycache__/views.cpython-311.pyc
pujas/pujasapp/migrations/__pycache__/__init__.cpython-311.pyc
cambiomoneda/cambiomoneda/__pycache__/__init__.cpython-311.pyc
cambiomoneda/cambiomoneda/__pycache__/settings.cpython-311.pyc
cambiomoneda/cambiomonedaapp/__pycache__/__init__.cpython-311.pyc
cambiomoneda/cambiomonedaapp/__pycache__/admin.cpython-311.pyc
cambiomoneda/cambiomonedaapp/__pycache__/apps.cpython-311.pyc
cambiomoneda/cambiomonedaapp/__pycache__/models.cpython-311.pyc
cambiomoneda/cambiomonedaapp/__pycache__/urls.cpython-311.pyc
cambiomoneda/cambiomonedaapp/__pycache__/views.cpython-311.pyc
cambiomoneda/cambiomonedaapp/migrations/__pycache__/__init__.cpython-311.pyc
cambiomoneda/cambiomoneda/__pycache__/wsgi.cpython-311.pyc
cambiomoneda/cambiomoneda/__pycache__/urls.cpython-311.pyc
horaLocal/horaLocal/__pycache__/__init__.cpython-311.pyc
horaLocal/horaLocal/__pycache__/settings.cpython-311.pyc
horaLocal/horaLocal/__pycache__/urls.cpython-311.pyc
horaLocal/horaLocal/__pycache__/wsgi.cpython-311.pyc
horaLocal/horaLocalapp/__pycache__/admin.cpython-311.pyc
horaLocal/horaLocalapp/__pycache__/apps.cpython-311.pyc
horaLocal/horaLocalapp/__pycache__/models.cpython-311.pyc
horaLocal/horaLocalapp/__pycache__/urls.cpython-311.pyc
horaLocal/horaLocalapp/__pycache__/views.cpython-311.pyc
huellaDeCarbono/huellaApp/__pycache__/__init__.cpython-311.pyc
huellaDeCarbono/huellaApp/__pycache__/admin.cpython-311.pyc
huellaDeCarbono/huellaApp/__pycache__/apps.cpython-311.pyc
huellaDeCarbono/huellaApp/__pycache__/models.cpython-311.pyc
huellaDeCarbono/huellaApp/__pycache__/urls.cpython-311.pyc
huellaDeCarbono/huellaApp/__pycache__/views.cpython-311.pyc
huellaDeCarbono/huellaDeCarbono/__pycache__/__init__.cpython-311.pyc
huellaDeCarbono/huellaDeCarbono/__pycache__/settings.cpython-311.pyc
huellaDeCarbono/huellaDeCarbono/__pycache__/urls.cpython-311.pyc
huellaDeCarbono/huellaDeCarbono/__pycache__/wsgi.cpython-311.pyc
huellaDeCarbono/huellaApp/migrations/__pycache__/__init__.cpython-311.pyc
