elrastro_project/elrastro_project/__pycache__/__init__.cpython-311.pyc
elrastro_project/elrastro_project/__pycache__/settings.cpython-311.pyc
elrastro_project/elrastro_project/__pycache__/urls.cpython-311.pyc
elrastro_project/elrastro_project/__pycache__/wsgi.cpython-311.pyc
elrastro_project/elrastroapp/__pycache__/__init__.cpython-311.pyc
elrastro_project/elrastroapp/__pycache__/admin.cpython-311.pyc
elrastro_project/elrastroapp/__pycache__/apps.cpython-311.pyc
elrastro_project/elrastroapp/__pycache__/models.cpython-311.pyc
elrastro_project/elrastroapp/__pycache__/serializers.cpython-311.pyc
elrastro_project/elrastroapp/__pycache__/urls.cpython-311.pyc
elrastro_project/elrastroapp/__pycache__/views.cpython-311.pyc
elrastro_project/elrastroapp/migrations/__pycache__/__init__.cpython-311.pyc
elrastro_project/elrastroapp/migrations/__pycache__/0001_initial.cpython-311.pyc
elrastro_project/elrastroapp/migrations/__pycache__/0002_remove_producto_id_producto__id.cpython-311.pyc
elrastro_project/elrastroapp/migrations/__pycache__/0003_rename__id_producto_id.cpython-311.pyc
elrastro_project/elrastroapp/migrations/__pycache__/0004_alter_producto_id.cpython-311.pyc
usuarios/usuarios/__pycache__/__init__.cpython-311.pyc
usuarios/usuarios/__pycache__/settings.cpython-311.pyc
usuarios/usuarios/__pycache__/urls.cpython-311.pyc
usuarios/usuarios/__pycache__/wsgi.cpython-311.pyc
usuarios/usuariosapp/__pycache__/__init__.cpython-311.pyc
usuarios/usuariosapp/__pycache__/admin.cpython-311.pyc
usuarios/usuariosapp/__pycache__/apps.cpython-311.pyc
usuarios/usuariosapp/__pycache__/models.cpython-311.pyc
usuarios/usuariosapp/__pycache__/serializers.cpython-311.pyc
usuarios/usuariosapp/__pycache__/urls.cpython-311.pyc
usuarios/usuariosapp/__pycache__/views.cpython-311.pyc
usuarios/usuariosapp/migrations/__pycache__/__init__.cpython-311.pyc
productos/productos/__pycache__/__init__.cpython-311.pyc
productos/productos/__pycache__/settings.cpython-311.pyc
productos/productos/__pycache__/urls.cpython-311.pyc
productos/productos/__pycache__/wsgi.cpython-311.pyc
productos/productosapp/__pycache__/__init__.cpython-311.pyc
productos/productosapp/__pycache__/admin.cpython-311.pyc
productos/productosapp/__pycache__/apps.cpython-311.pyc
productos/productosapp/__pycache__/models.cpython-311.pyc
productos/productosapp/__pycache__/serializers.cpython-311.pyc
productos/productosapp/__pycache__/urls.cpython-311.pyc
productos/productosapp/__pycache__/views.cpython-311.pyc
productos/productosapp/migrations/__pycache__/__init__.cpython-311.pyc
